
$rb: rgb(25, 0, 255);
$rb_bg: rgb(191, 184, 255);

$wr: rgb(0, 247, 255);
$wr_bg: rgba(189, 253, 255, 0.616);

$qb: rgb(250, 205, 3);
$qb_bg: rgba(255, 241, 179, 0.616);

$dst: rgb(43, 117, 0);
$dst_bg: rgba(207, 255, 180, 0.658);

$k: rgb(255, 0, 234);
$k_bg: rgba(255, 188, 249, 0.692);

$te: rgb(255, 115, 0);
$te_bg: rgba(255, 215, 183, 0.651);

$header-bg: #9c9c9c;

html {
    height: auto;
    width: 100%;
    border: 0;
    padding: 0;
    margin: 0
}

body{
    background: #fff;
    color: #000;
    font-family: 'Times New Roman', Times, serif;
    height:100%;
}

a, a:hover, a:active, a:visited{
    color: #000;
}

.main-container{
    width: 100%;
}

.flex-container {
    position: relative;
    display: flex;
    text-align: left;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: baseline;
    padding: 5px;

    .flex-item{
        flex: 1;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
        position: relative;
        width: 100%;
        padding: 2px;

        &.half{
            flex-basis: 50%;
        }

        &.three-quarters{
            flex-basis: 75%;
        }

        &.title{
            font-weight: bold;
            background: #ccc;
        }

        &.center{
            text-align: center;
        }

        &.right{
            text-align: right;
        }
    }
}

.draft-tool{
    width: 98%;
    margin: 0 auto;
}

.drafted{
    opacity: .6;

    div.button{
        border-color: red;
        color: red;
        cursor: default;
        opacity: .5;

        &:hover{
            border-color: red;
            color: red;    
        }
    }
}

div.button{
    border:1px solid;
    padding: 2px;
    border-radius: 3px;
    text-align: center;
    width: auto;
    cursor: pointer;
    margin-right: 10px;

    &.remove{
        border-color: red;
        color: red;
        cursor: pointer;

        &:hover{
            border-color: red;
            color: red; 
            background: red;   
            color: #fff;
        }
    }
    
    &.download{
        margin-top: 100px;
        border: 1px solid green;
    }

    &.draft{
        text-align: center;
        border-color: green;
        color: green;

        &:hover{
            background: green;
            color:#fff;
        }
    }
}

.player-pickboard, .team-pickboard{
    position: relative;
    font-size: .8em;
}

.player-pickboard{
    display: inline-block;
    width: 55%;
    box-shadow: 0px 1px 5px #afafaf;

    .flex-container{
        &.player-list-headers{
            .flex-item{
                &:not(.no-sort){
                    cursor: pointer;
                }
                .asc:before, .desc:after{
                    border: 4px solid transparent;
                    content: "";
                    display: block;
                    height: 0;
                    right: 5px;
                    top: 50%;
                    position: absolute;
                    width: 0;
                }
                .asc:before{
                    border-bottom-color: #666;
                    margin-top: -9px;
                }
                .desc:after{
                    border-top-color: #666;
                    margin-top: 1px;
                }
            }
        }
    }
}

.add-teams{
    .manage-teams-controls{
        width: 50%;
        text-align: left;
    }
}

.team-pickboard{
    margin-bottom: 25px;
    border: 1px solid;
    overflow: hidden;

    .flex-container{
        padding: 0;
    }

    .header-row{
        width:100%;
        z-index: 10;
        top: 0;
        box-shadow: 0px 1px 2px 1px #333;
        position: absolute;
        background: $header-bg;

        a, a:visited, a:hover{
            color: #fff;
        }

        .flex-item{
           height: 30px;
           font-size: .8em;
           color: #fff;
           background: #848282;
           opacity: 1;
           font-weight: bold;

           &.selected{
                background: #3fe63f;
                border: 5px solid #3fe63f;
                color: #000;
           }
        }

        .timer{
            .flex-item{
                font-size: 1em;
            }
        }
    }

    .flex-item{
        background: #fff;
        padding: 5px;
        margin: 2px;
        border: 5px solid transparent;
        display: inline-block;
        opacity: .8;
        font-size: .7em;
        text-align: center;
        height: 25px;
        overflow: hidden;

        &.rb{
            background-color: $rb_bg;
            box-shadow: inset 1px 0px 10px 5px $rb;
            border-color: $rb;
            color: #fff;
        }
        &.wr{
            background-color: $wr_bg;
            box-shadow: inset 1px 0px 10px 5px $wr;
            border-color: $wr;
            color: #000;
        }
        &.k{
            background-color: $k_bg;
            box-shadow: inset 1px 0px 10px 5px $k;
            border-color: $k;
            color: #000;
        }
        &.dst{
            background-color: $dst_bg;
            box-shadow: inset 1px 0px 10px 5px $dst;
            border-color: $dst;
            color: #fff;
        }
        &.qb{
            background-color: $qb_bg;
            box-shadow: inset 1px 0px 10px 5px $qb;
            border-color: $qb;
            color: #000;
        }
        &.te{
            background-color: $te_bg;
            box-shadow: inset 1px 0px 10px 5px $te;
            border-color: $te;
            color: #fff;
        }

        &.no-cursor{
            cursor: default;
            &:hover{
                opacity: 1;
            }
        }

        &.selectable{
            cursor: pointer;
            background: #dedede;

            &:hover{
                border: 5px dashed rgb(136, 136, 136);
            }
        }

        &.selected{
            border: 5px dashed #000;

            &.selectable{
                background: transparent;
            }

            &:hover{
                opacity: 1;
                border: 5px dashed #000;
            }
        }
    }

    .round-number{
        background: #dedede;
        opacity: 1;
    }

    .draft-cells-container{
        padding-top: 57px;
        box-shadow: 0px 1px 2px 1px inset #000;
    }  
}

.header-row{

    .current-pick{
        .flex-item{
            font-size: 2em;
            text-align: center;
            line-height: .6em;
        }
    }
}

.filters{
    padding:20px;
    background: rgb(184, 184, 184);
}

.fixed{
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 10;
    background: #fff;
    box-shadow: 0px 0px 1px 1px #333;

    &.top{
        top: 170px;
    }
}

.header-bar{
    width: 100%;
    display: inline-block;
    position: relative;
    text-align: center;
    box-shadow: 0px 0px 1px 2px #333;
    margin-bottom:10px;

    .header-links{
        width: 25%;
        float: left;
    }
}

.current-roster, .selected-roster{
    width: 20%;
    display: inline-block;
    vertical-align:top;

    .flex-container{
        font-size: .8em;
        &.header-row{
            font-weight: bold;
        }
    }
}

.current-roster {
    margin-right: 20px;
}

.selected-roster {
    margin-left: 20px;
}

.scroll-bar{
    position: relative;
    width: 98%;
    margin: 0 auto;
    margin-bottom: 20px;

    .overlay{
        position: absolute;
        top: -5px;
        left: -5px;
        width: 102px;
        height: 52px;
        border: 5px dashed #000;
        box-shadow: 0px 1px 5px 0px #000 inset;
        z-index: 10;
    }

    .scroll-container{
        height: 50px;
        display: block;
        width:100%;
        position: relative;
        border: 1px solid black;
        overflow: hidden;

        .scroll-content{
            position: relative;
            display: inline-block;
            width: 12480px;
            transition: margin 700ms;

            .snake-team-item{
                width:100px;
                display: inline-block;
                height: 46px;
                text-align: center;
                position: relative;
                border-right: 1px solid #000;
                padding: 2px 0;
                color: #fff;
                text-shadow: 1px 1px 1px #000;

                &.selected{
                    .bg{
                        opacity: 1;
                        transition: opacity 700ms;
                        box-shadow: none;
                    }
                }

                .bg{
                    position: absolute;
                    width:100%;
                    height: 100%;
                    z-index: -1;
                    top: 0;
                    left: 0;
                    opacity: .3;
                    box-shadow: 0px 1px 10px 2px inset #000;

                    &.t_1{
                        background: red;
                    }
                    &.t_2{
                        background: green;
                    }
                    &.t_3{
                        background: blue;
                    }
                    &.t_4{
                        background: orange;
                    }
                    &.t_5{
                        background: purple;
                    }
                    &.t_6{
                        background: yellow;
                    }
                    &.t_7{
                        background: grey;
                    }
                    &.t_8{
                        background: black;
                    }
                    &.t_9{
                        background: lightblue;
                    }
                    &.t_10{
                        background: pink;
                    }
                    &.t_11{
                        background: red;
                    }
                    &.t_12{
                        background: red;
                    }
                    &.t_13{
                        background: red;
                    }
                    &.t_14{
                        background: red;
                    }
                    &.t_15{
                        background: red;
                    }
                    &.t_16{
                        background: red;
                    }
                    &.t_17{
                        background: red;
                    }
                    &.t_18{
                        background: red;
                    }
                    &.t_19{
                        background: red;
                    }
                    &.t_20{
                        background: red;
                    }
                }
            }
        }
    }
}

.confirm-container{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 900;

    .confirm-bg{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000;
        opacity: .2;
    }

    .confirm-content{
        width: 50%;
        background: #fff;
        margin: 0 auto;
        top: 25%;
        z-index: 100;
        position: relative;
        box-shadow: 0px 0px 10px 1px #a09f9f;
        border-radius: 3px;
        padding: 50px;

        .confirm-dialog{
            text-align: center;
        }

        .confirm-buttons{
            margin: 10px;

            .button{
                &:hover{
                    box-shadow: 0px 0px 2px 1px #afafaf;
                }
            }

        }
    }
}

.count-down-clock{
    text-shadow: 0px 2px 1px #000;
    color:  red;
    animation: textgrowth 1s infinite;
    animation-timing-function: ease-in-out;
    width: 25px;
    line-height: 0em;
}

@keyframes textgrowth {
    0% {
        font-size: 1em;
    }
    100% {
        font-size: 2em;
    }
}


.ant-tag{
    &.rb{
        background-color: $rb_bg;
        border-color: $rb;
        color: #fff;
    }
    &.wr{
        background-color: $wr_bg;
        border-color: $wr;
        color: #000;
    }
    &.k{
        background-color: $k_bg;
        border-color: $k;
        color: #000;
    }
    &.dst{
        background-color: $dst_bg;
        border-color: $dst;
        color: #fff;
    }
    &.qb{
        background-color: $qb_bg;
        border-color: $qb;
        color: #000;
    }
    &.te{
        background-color: $te_bg;
        border-color: $te;
        color: #fff;
    }
}

.snake-card{
    &.selected{
        background: orange;
    }
}

.steps-content{
    margin-top: 16px;
    border: 1px dashed #e9e9e9;
    border-radius: 6px;
    background-color: #fafafa;
    min-height: 200px;
    text-align: center;
    padding-top: 80px;
    height: 500px;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected{
    background-color: #b10000;
}

.card-no-padding{
    .ant-card-body{
        padding: 0;
    }
}

td, .ant-table-thead tr th{
    &.bold{
        font-weight: bold;
    }
    &.right{
        text-align: right;
    }
}



@import 'mobile';